@font-face {
	font-family: proxima-nova;
	src: url(../fonts/proxima-nova-light.woff2) format(woff2);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/proxima-nova-regular.woff2) format(woff2);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/proxima-nova-semibold.woff2) format(woff2);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: proxima-nova;
	src: url(../fonts/proxima-nova-bold.woff2) format(woff2);
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}